# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/
.env.*
.env

# Django specific
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.~
*.bak
*.tmp

# Django media and static
media/
staticfiles/

# PyCharm / VSCode
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
